
GeoPAT2 code/allmonths_gridts
HCPC/.RData
Submission folder.zip
Submission folder/ElliottT_B10215415_CSC8639_Presentation recording.mp4
Submission folder/ElliottT_B10215415_CSC8639_Presentation.pdf
Submission folder/ElliottT_B10215415_CSC8639_Thesis.pdf
Submission folder/Source code/Comapring the climates of ETSs to each other/.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/.Rhistory
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Apr_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Apr_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Apr_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Apr_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Aug_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Aug_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Aug_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Aug_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Dec_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Dec_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Dec_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Dec_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Feb_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Feb_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/feb_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/feb_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/ffp_variable_means.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/ffp_variable_means.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jan_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jan_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/jan_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/jan_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jul_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jul_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jul_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jul_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jun_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jun_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jun_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Jun_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/lowest_sim_variable_means.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/lowest_sim_variable_means.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Mar_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Mar_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/mar_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/mar_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/May_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/May_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/May_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/May_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Nov_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Nov_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Nov_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Nov_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Oct_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Oct_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Oct_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Oct_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Sep_ffp_data.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Sep_ffp_data.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Sep_lowest_cities.hash
Submission folder/Source code/Comapring the climates of ETSs to each other/cache/Sep_lowest_cities.RData
Submission folder/Source code/Comapring the climates of ETSs to each other/config/global.dcf
Submission folder/Source code/Comapring the climates of ETSs to each other/config/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Apr_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Apr_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Aug_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Aug_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Dec_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Dec_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Feb_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Feb_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/ffp_variable_means.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Jan_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Jan_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Jul_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Jul_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Jun_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Jun_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/lowest_sim_variable_means.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Mar_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Mar_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/May_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/May_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Nov_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Nov_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Oct_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Oct_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Sep_ffp_data.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/Sep_lowest_cities.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/data/test_radar.csv
Submission folder/Source code/Comapring the climates of ETSs to each other/diagnostics/1.R
Submission folder/Source code/Comapring the climates of ETSs to each other/diagnostics/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/docs/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Apr_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Aug_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/bangalore_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/dammam_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Dec_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Feb_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/felling_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/florida1_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/florida2_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/geoje_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/heatmap2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/houston_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/jakarta_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jan_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jul_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Jun_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/kinshasa_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/lima_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Mar_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/match_matrix_ffp.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/match_matrix_ffp_pam.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/match_matrix_new.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/match_matrix_new_pam.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/May_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/melbourne_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Nov_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Oct_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/phoenix_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/plymouth_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/pudong_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/runco_grande_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/sanary_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_new_cluster.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_new_dend.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_new_pc1.pdf
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_new_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_new_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_new_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_pc1.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_pc2.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/Sep_scree.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/songjiang_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/sunderland_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/suzhou_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/variable_means_ffp.pdf
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/variable_means_ffp.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/variable_means_lowest.pdf
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/variable_means_lowest.png
Submission folder/Source code/Comapring the climates of ETSs to each other/graphs/willawong_var_means.png
Submission folder/Source code/Comapring the climates of ETSs to each other/lib/globals.R
Submission folder/Source code/Comapring the climates of ETSs to each other/lib/helpers.R
Submission folder/Source code/Comapring the climates of ETSs to each other/lib/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/logs/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/munge/01-A.R
Submission folder/Source code/Comapring the climates of ETSs to each other/munge/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/profiling/1.R
Submission folder/Source code/Comapring the climates of ETSs to each other/profiling/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/reports/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/src/comapre_suggested_locations.R
Submission folder/Source code/Comapring the climates of ETSs to each other/src/compare_existing_locations.R
Submission folder/Source code/Comapring the climates of ETSs to each other/src/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/src/variable values compared to mean of data set.R
Submission folder/Source code/Comapring the climates of ETSs to each other/tests/1.R
Submission folder/Source code/Comapring the climates of ETSs to each other/tests/README.md
Submission folder/Source code/Comapring the climates of ETSs to each other/TODO
Submission folder/Source code/Comapring the climates of ETSs to each other/Var_importance jul.txt
Submission folder/Source code/GeoPAT2 code/Existing_coordinates.txt
Submission folder/Source code/GeoPAT2 code/Including_new_coordinates.txt
Submission folder/Source code/GeoPAT2 code/processing_script.txt
Submission folder/Source code/GeoPAT2 code/README.txt
Submission folder/Source code/QGIS Processing guide/ETS_locations.csv
Submission folder/Source code/QGIS Processing guide/precipitation normalisation.py
Submission folder/Source code/QGIS Processing guide/README.txt
Submission folder/Source code/QGIS Processing guide/temperature_C_4326_01_raw.tif
Submission folder/Source code/README.txt
